{% extends "playerstat/main.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block data %}
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Режим</th>
                    <th scope="col">Карта</th>
                    <th scope="col">Счет</th>
                    <th scope="col">K</th>
                    <th scope="col">A</th>
                    <th scope="col">D</th>
                    <th scope="col">ADR</th>
                    <th scope="col">1x1</th>
                    <th scope="col">1x2</th>
                    <th scope="col">1x3</th>
                    <th scope="col">1x4</th>
                    <th scope="col">1x5</th>
                    <th scope="col">3K</th>
                    <th scope="col">4K</th>
                    <th scope="col">5K</th>
                    <th scope="col">Rating</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for player_in_demo in player_demos %}
                    <tr>
                        <td class="text">{{ player_in_demo.demo.data_played }}</td>
                        <td class="text">{{ player_in_demo.demo.match_type.name }}</td>
                        <td>
                            <img src="{% static player_in_demo.demo.map.image %}" alt="Иконка {{ player_in_demo.demo.map.name }}" class="avatar" style="width: 48px; height: 48px;"/>
                            {{ player_in_demo.demo.map.name }}
                        </td>
                        <td class="{% if player_in_demo.demo.win_team == player_in_demo.team %} text-success {% else %} text-danger {% endif %}">
                            {% if player_in_demo.demo.win_team == player_in_demo.team %} {{ player_in_demo.demo.score_win }} {% else %} {{ player_in_demo.demo.score_lose }} {% endif %}
                            :
                            {% if player_in_demo.demo.win_team == player_in_demo.team %} {{ player_in_demo.demo.score_lose }} {% else %} {{ player_in_demo.demo.score_win }} {% endif %}
                        </td>
                        <td class="fw-bold">{{ player_in_demo.kills }}</td>
                        <td>{{ player_in_demo.assists }}</td>
                        <td class="text-danger">{{ player_in_demo.deaths }}</td>
                        <td>{{ player_in_demo.adr }}</td>
                        <td class="text-success">{{ player_in_demo.win_clutches_1x1 }}</td>
                        <td class="text-success">{{ player_in_demo.win_clutches_1x2 }}</td>
                        <td class="text-success">{{ player_in_demo.win_clutches_1x3 }}</td>
                        <td class="text-success">{{ player_in_demo.win_clutches_1x4 }}</td>
                        <td class="text-success">{{ player_in_demo.win_clutches_1x5 }}</td>
                        <td class="text-success">{{ player_in_demo.kills_3 }}</td>
                        <td class="text-success">{{ player_in_demo.kills_4 }}</td>
                        <td class="text-success">{{ player_in_demo.kills_5 }}</td>
                        <td class="fw-bold text-primary">{{ player_in_demo.rating|floatformat:2}}</td>
                        <td>
                            <a href="{% url 'mapstat:demo' player_in_demo.demo.pk %}" class="btn btn-sm btn-outline-primary">
                                Просмотр
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container mt-4">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&laquo;&laquo;</span>
                        </li>
                        <li class="page-item disabled">
                            <span class="page-link">&laquo;</span>
                        </li>
                    {% endif %}
        
                    <li class="page-item active">
                        <span class="page-link">
                            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                        </span>
                    </li>
        
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&raquo;</span>
                        </li>
                        <li class="page-item disabled">
                            <span class="page-link">&raquo;&raquo;</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}