{% extends "mapstat/main.html" %}
{% load django_bootstrap5 %}
{% load filters %}
{% block data %}
    <div class="container mt-4">
        <h1 class="mb-4 text-center">Статистика матча</h1>

        <form method="GET" action="" class="mb-4">
            <div class="row g-3">
                <div class="col-md-4">
                    <label for="side" class="form-label">Фильтр по стороне:</label>
                    <select id="side" name="side" class="form-select">
                        <option value="">Всё</option>
                        {% for side in sides %}
                            <option value="{{ side.id }}" {% if request.GET.side == side.id|stringformat:"s" %}selected{% endif %}>{{ side.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="buy_type" class="form-label">Фильтр по типу закупки:</label>
                    <select id="buy_type" name="buy_type" class="form-select">
                        <option value="">Всё</option>
                        {% for buy_type in buy_types %}
                            <option value="{{ buy_type.id }}" {% if request.GET.buy_type == buy_type.id|stringformat:"s" %}selected{% endif %}>{{ buy_type.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="enemy_buy_type" class="form-label">Фильтр по типу закупки оппонента:</label>
                    <select id="enemy_buy_type" name="enemy_buy_type" class="form-select">
                        <option value="">Всё</option>
                        {% for buy_type in buy_types %}
                            <option value="{{ buy_type.id }}" {% if request.GET.enemy_buy_type == buy_type.id|stringformat:"s" %}selected{% endif %}>{{ buy_type.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Применить</button>
        </form>
        <div class="table-responsive">
            {% for team_name in teams_name %}
                <div class="row mb-4">
                    <div class="col-md-1 d-flex align-items-center justify-content-center">
                        <div class="text-center">
                            {% if team_name == demo.win_team %}
                                <div class="display-4 fw-bold mb-2">{{ demo.score_win }}</div>
                                <div class="d-flex justify-content-around" style="font-size: 1.5rem;">
                                    <span class="text-primary font-weight-bold px-2">{{ demo.score_win|subtract:win_team_t_score }}</span>
                                    <span class="text-warning font-weight-bold px-2">{{ win_team_t_score }}</span>
                                </div>
                                <div class="winner-icon">
                                    <img src="/static/winner-icon.png" alt="Winner" style="width: 40px; height: 40px;">
                                </div>
                            {% else %}
                                <div class="display-4 fw-bold mb-2">{{ demo.score_lose }}</div>
                                <div class="d-flex justify-content-around" style="font-size: 1.5rem;">
                                    <span class="text-primary font-weight-bold px-2">{{ demo.score_lose|subtract:lose_team_t_score }}</span>
                                    <span class="text-warning font-weight-bold px-2">{{ lose_team_t_score }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-11">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th colspan=7/>
                                    <th class='clutch-header text-center click' colspan=1 onClick="toggleColumns('clutch', 5)">
                                        <div class='d-flex flex-column align-items-center'>
                                            <i class="bi bi-arrows"></i>
                                            1vX
                                        </div>
                                    </th>
                                    <th class='mk-header text-center click' colspan=1 onClick="toggleColumns('mk', 5)">
                                        <div class='d-flex flex-column align-items-center'>
                                            <i class="bi bi-arrows"></i>
                                            3k+
                                        </div>
                                    </th>
                                    <th class='first-duel-header text-center click' colspan=1 onClick="toggleColumns('first-duel', 2)">
                                        <div class='d-flex flex-column align-items-center'>
                                            <i class="bi bi-arrows"></i>
                                            First duels
                                        </div>
                                    </th>
                                    <th class='utility-header text-center click' colspan=1 onClick="toggleColumns('utility', 3)">
                                        <div class='d-flex flex-column align-items-center'>
                                            <i class="bi bi-arrows"></i>
                                            Utility
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="min-width: 300px;" class="text-center">{{ team_name }}</th>
                                    <th data-toggle="popover" title="Убийства" class="text-center">K</th>
                                    <th class="text-center" data-toggle="popover" title="Помощи" >A</th>
                                    <th class="text-center" data-toggle="popover" title="Смерти" >D</th>
                                    <th class="text-center" data-toggle="popover" title="Средний урон за раунд" >ADR</th>
                                    <th class="text-center" data-toggle="popover" title="Процент раундов с убийством, помощью, выживанием и разменом" >KAST</th>
                                    <th class="text-center" data-toggle="popover" title="HLTV Rating 2.0" >Rating</th>
                                    <th class='clutch-main text-center'>1vX</th>
                                    <th class='clutch invisible text-center'>1x1</th>
                                    <th class='clutch invisible text-center'>1x2</th>
                                    <th class='clutch invisible text-center'>1x3</th>
                                    <th class='clutch invisible text-center'>1x4</th>
                                    <th class='clutch invisible text-center'>1x5</th>
                                    <th class='mk-main text-center'>3k+</th>
                                    <th class='mk invisible text-center'>1k</th>
                                    <th class='mk invisible text-center'>2k</th>
                                    <th class='mk invisible text-center'>3k</th>
                                    <th class='mk invisible text-center'>4k</th>
                                    <th class='mk invisible text-center'>5k</th>
                                    <th class='first-duel-main text-center'>FKD</th>
                                    <th class='first-duel invisible text-center'>FK</th>
                                    <th class='first-duel invisible text-center'>FD</th>
                                    <th class='utility-main text-center'>EF</th>
                                    <th class='utility invisible text-center'>UD</th>
                                    <th class='utility invisible text-center'>EF</th>
                                    <th class='utility invisible text-center'>FA</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for player_in_demo in players_in_demo %}
                                    {% if player_in_demo.team == team_name %}
                                        <tr>
                                            <td style="min-width: 150px;">
                                                {% if player_in_demo.player.last_avatar %}
                                                    <img src="{{ player_in_demo.player.last_avatar }}" alt="Аватар {{ player_in_demo.player.last_nickname }}" class="avatar"/>
                                                {% endif %}
                                                <a href="{% url 'playerstat:stats' player_in_demo.player.pk %}" class="text-reset text-decoration-none">{{ player_in_demo.player.last_nickname }}</a>
                                            </td>
                                            <td class="text-center">{{ player_in_demo.kills }}</td>
                                            <td class="text-center">{{ player_in_demo.assists }}</td>
                                            <td class="text-center">{{ player_in_demo.deaths }}</td>
                                            <td class="text-center">{{ player_in_demo.adr|floatformat:1 }}</td>
                                            <td class="text-center">{{ player_in_demo.kast|floatformat:1 }}%</td>
                                            <td class="text-center">{{ player_in_demo.rating|floatformat:2 }}</td>
                                            <td class='clutch-main text-center'>{{ player_in_demo.all_win_clutches }}</td>
                                            <td class='clutch invisible text-center'>{{ player_in_demo.win_clutches_1x1 }}</td>
                                            <td class='clutch invisible text-center'>{{ player_in_demo.win_clutches_1x2 }}</td>
                                            <td class='clutch invisible text-center'>{{ player_in_demo.win_clutches_1x3 }}</td>
                                            <td class='clutch invisible text-center'>{{ player_in_demo.win_clutches_1x4 }}</td>
                                            <td class='clutch invisible text-center'>{{ player_in_demo.win_clutches_1x5 }}</td>
                                            <td class='mk-main text-center'>{{ player_in_demo.kills_3_over }}</td>
                                            <td class='mk invisible text-center'>{{ player_in_demo.kills_1 }}</td>
                                            <td class='mk invisible text-center'>{{ player_in_demo.kills_2 }}</td>
                                            <td class='mk invisible text-center'>{{ player_in_demo.kills_3 }}</td>
                                            <td class='mk invisible text-center'>{{ player_in_demo.kills_4 }}</td>
                                            <td class='mk invisible text-center'>{{ player_in_demo.kills_5 }}</td>
                                            <td class='first-duel-main text-center'>{{ player_in_demo.first_kills_dif }}</td>
                                            <td class='first-duel invisible text-center'>{{ player_in_demo.first_kills }}</td>
                                            <td class='first-duel invisible text-center'>{{ player_in_demo.first_deaths }}</td>
                                            <td class='utility-main text-center'>{{ player_in_demo.enemy_flashed }}</td>
                                            <td class='utility invisible text-center'>{{ player_in_demo.utility_damage }}</td>
                                            <td class='utility invisible text-center'>{{ player_in_demo.enemy_flashed }}</td>
                                            <td class='utility invisible text-center'>{{ player_in_demo.flash_assists }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        function toggleColumns(name, numCol) {
          const columns = document.querySelectorAll('.' + name);
          const columnsMain = document.querySelectorAll('.' + name + '-main');

          columns.forEach(column => {
            column.classList.toggle('invisible');
          });
          columnsMain.forEach(column => {
            column.classList.toggle('invisible');
          });

          const columnsHeader = document.querySelectorAll('.' + name + '-header');
          columnsHeader.forEach(column => {
            if (columns[0].classList.contains('invisible')) {
                column.colSpan = 1; 
            } else {
                column.colSpan = numCol;
            }
          })
            
        }
      </script>
{% endblock %}